<article class="question">
  <h1><%= @question.title %></h1>

  <section class="question-body">
    <%= raw @question.content %>
  </section>


  <% if current_user && (cq=current_user.citizen_question(@question.id)) && cq.hours>0 %>
         Této otázce jste přislíbil(a) <%=cq.hours%>h
  <%else%>
      <%= link_to 'Řešit otázku', "/solve-question/#{@question.id}" %>
  <%end%>

  <br>
  <br>

  <section id="question-stats">
    <h3>Statistiky</h3>
    <%= render partial: "/stats/question", locals: { stat: @stat } %>
  </section>

  <aside id="tasks">
    <h3>Navržené úkoly</h3>
    <i>Vybraný úkol můžete přijmout bez výhrad nebo se změnou, jestliže se Vám zdá příliš obecný - tzn. a) upřesnit jeho zadání a zachovat délku zpracování, b) rozepsat kratší, jednodušší dílčí úkoly s kratší časovou dotací.</i>
    <ul>

      <% @question.tasks.each do |task| %>
        <li><%= task.content %>  <%="(#{task.hours}h)" if task.hours>0 %>
          <% if task.subtasks.any?%>
              <ul class="task_subtasks">
                <% task.subtasks.each do |subtask|%>

                    <li><span <%="class=accepted" if subtask.citizen%>><%=subtask.content %> (<%= subtask.hours %>h)</span></li>
                <%end%>
              </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </aside>
</article>
