<section id="account">
	<h1>Můj účet</h1>

	<section id="account_personal">
		<h2 class="pull-left">Osobní údaje</h2>
		<div class="pull-right">
			<%= link_to 'Upravit', main_app.edit_citizen_path(@citizen), class: 'btn btn-primary' %>
		</div>
		<table id="account_personal_table" class="clear">
			<tr>
				<th>Jméno:</th>
				<td><%= @citizen.firstname.capitalize %></td>
			</tr>
			<tr>
				<th>Příjmení:</th>
				<td><%= @citizen.lastname.capitalize %></td>
			</tr>
			<tr>
				<th>Okres:</th>
				<td><%= @citizen.county.name %></td>
			</tr>
			<tr>
				<th>Pohlaví:</th>
				<td>
					<%= 'Muž' if @citizen.gender == 'male' %>
					<%= 'Žena' if @citizen.gender == 'female' %>
				</td>
			</tr>
			<tr>
				<th>Věk:</th>
				<td><%= @citizen.age %></td>
			</tr>			
		</table>
	</section>

	<hr>


     <div id="tabs">
    <ul>
        <li><a href="#tabs-1">Mé týmy (otázky kandidujících)</a></li>
        <li><a href="#tabs-2">Má otázka</a></li>
        <li><a href="#tabs-3">Mé hlasování</a></li>
    </ul>
    <div id="tabs-1">


	<section id="account_questions">
		<h2>Strategické otázky</h2>

		<% @citizen_questions.each do |citizen_question| %>
            <% question = citizen_question.question
                needed=question.needed_no_minimum
            %>
            <% is_teamleader = question.is_teamleader?(@citizen) %>
			<article id="question_<%= question.id %>">
				<h3 class="pull-left">
					<%= truncate(question.title, length: 100, separator: ' ') %>					
				</h3>				
				<div class="pull-right">
					<% if is_teamleader %>
						<%= form_tag(refinery.root_path+'mark-question-as-solved/'+question.id.to_s+'/') %>
							<%= hidden_field_tag 'citizen_id', @citizen.id %>
							<%= submit_tag 'Označit za vyřešenou', class: 'btn btn-success' if question.done != true %>
						</form>

					<% end %>
				</div>
				<h4 class="clear"><%= question.subject.firstname %> <%= question.subject.lastname %></h4>
                <h5>Spolupracovník:
                    <% if is_teamleader %>
                        <% if question.tasks.any? %>
                            Jste Správce/kyně týmu.
                        <% else %>
                            Jste první člen/ka týmu, tzn. Správce/kyně týmu a je na Vás napsat první úkoly.
                        <% end %>
                    <% else %>
                        <%= citizen_question.partner.email if citizen_question.partner %>
                    <% end %>
                </h5>
				<table id="account_question_table">
					<tr>
						<th>Přislíbených hodin:</th>
						<td><%= citizen_question.hours %>
						<td>
                            <% if citizen_question.hours == 0 %>

                                <%= link_to 'Navýšit hodiny', "/solve-question/#{question.id}" , class: 'btn btn-primary'%>

                            <% else %>
                                <%= link_to 'Přenést hodiny', "/citizens_questions/#{citizen_question.id}/move", class: 'btn btn-primary' %>
                            <% end %>
						</td>
					</tr>
                     <tr>
						<th>K úkolům zbývá přiřadit:</th>
						<td><%=         citizen_question.available_hours%>  </td>
						<td> </td>


					<tr>
						<th>Odpracovaných hodin:</th>
						<td><%= citizen_question.hours_done %>   </td>
						<td> </td>
					</tr>

                    <tr>
                        <th>Počet lidí v týmu:</th>
                        <td> <%=question.citizens_questions.count %>            </td>
                      <td> </td>
                    </tr>

                    </table>     <br>

                                  <div class="alert alert-error">
                                                	   <strong>Možnost zveřejnit svůj návrh řešení otázky na webu získáte při splnění jedné z následujících podmínek:</strong>
                                                	   <table>
                                                	     <tr>
                                                	     	<td>Tým</td>
                                                	     	<td>Počet odpracovaných hodin</td>
                                               	     	<td>Průměrně 1 volič/ka</td>
                                                	     </tr>
                                                	     <tr>
                                                	     	<td>100 lidí</td>
                                                	     	<td>100 hodin</td>
                                                	     	<td>1 hod</td>
                                                	     </tr>
                                                	     <tr>
                                                	      	<td>50 lidí</td>
                                                	     	<td>150 hodin</td>
                                                	     	<td>min. 2 hod</td>
                                                	     </tr>
                                                	     <tr>
                                                	     	<td>25 lidí</td>
                                                	     	<td>200 hodin</td>
                                                	     	<td>min. 5 hodin</td>
                                                	     </tr>
                                                	     <tr>
                                                	     	<td>20 lidí</td>
                                                	     	<td>300 hodin</td>
                                                	     	<td>min. 10 hod</td>
                                                	     </tr>
                                                	   </table>
                                             </div>


                                  <div class="needed_hours">
                    Vašemu týmu chybí ke splnění podmínky <%=needed[0] %>
                    lidí a <%=needed[1]%> hodin
                </div>


					<h5>Návrhy úkolů</h5>
                    <%= link_to 'Přidat úkol', main_app.new_citizen_question_task_path(@citizen, question), class: 'btn btn-primary' if is_teamleader %>
                <% if question.tasks.any? %>
						<ul id="question_tasks">
                      <%= render :partial=>'tasks', :locals=>{:question=>question, :citizen_question=>citizen_question}%>
					</ul>
				<% end %>
			</article>

			<% unless @questions.last == question || @citizen.questions.count == 1 %>
				<hr>
			<% end %>
		<% end %>
	</section>

    </div>
    <div id="tabs-2">
        <%= render 'subtasks/my_question'%>
    </div>
    <div id="tabs-3">
        <%= render 'subtasks/my_vote'%>
    </div>
 </div>

                                  <script>
                                      $(function() {
                                          $( "#tabs" ).tabs();
                                      });
                                  </script>

                                  </section>


<div id="dialog_citizen"></div>
