<section id="stats">

	<table>		
		<tbody>
			<tr>
				<th>Otázek celkem</th>
				<td><%= @stats.questions_count %></td>
			</tr>

			<tr>
				<th>Politiků celkem</th>
				<td><%= @stats.politicians_count %></td>
			</tr>

			<tr>
				<th>Voličů celkem</th>
				<td><%= @stats.citizens_count %></td>
			</tr>

			<tr>
				<th>Žen</th>
				<td><%= @stats.citizens_women_count %></td>
			</tr>

			<tr>
				<th>Mužů</th>
				<td><%= @stats.citizens_men_count %></td>
			</tr>

			<tr>
				<th>Průměrný věk voličů</th>
				<td><%= @stats.citizens_average_age %></td>
			</tr>

			<tr>
				<th>Přislíbených hodin</th>
				<td><%= @stats.promised_workhours_sum %></td>
			</tr>

			<tr>
				<th>% zde aktivních k počtu právopl. voličů (8 415 892 k 1.9. 2013)</th>
				<td><%= @stats.percent_of_citizens %> %</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<table>
		<tbody>
			<tr>
                <th><%= @politics ? link_to('[-]', stats_path) : link_to('[+]', stats_path(:show_politicians => 't')) %> 
                    Počet týmů</th>
                <td><%= @stats.team_count %></td>
			</tr>
            <% if @politics %>
              <% @politics.each do |pol| %>
                <tr>
                  <td colspan="2">
                    <ul>
                      <% if params[:show_politicians] == pol.id.to_s %>
                          <li><%= pol.firstname %> <%= pol.lastname %> 
                          <ul>
                            <% citizens_questions = pol.subject.citizens_questions.active.to_a %>

                            <li>Počet otázek kandidáta: <%= pol.questions.active.size %></li>
                            <li>Počet aktivních týmů kandidáta/tky: 
                                  <%= citizens_questions.map {|q| q.question_id}.uniq.size %></li>
                            <li>Počet aktivních voličů celkem (všechny otázky dohromady):
                                  <%= pol.subject.citizens.active.to_a.size %> <%# count does not work (used DISTINCT) %></li>
                            <li>Zastoupenost okresů (počet celkem):
                                  <%= pol.subject.counties.active.to_a.size %> <%# count does not work (used DISTINCT) %></li>
                            <li>Počet přislíbených hodin celkem: 
                                  <%= citizens_questions.reduce(0) {|sum, q| sum + q.hours} %></li>
                            <li>Počet odpracovaných hodin celkem:
                                  <%= citizens_questions.reduce(0) {|sum, q| sum + q.hours_done} %></li>
                            <li>Počet odchodů (převodů hodin) k jinému kandidátovi: 
                                  <%= citizens_questions.reduce(0) {|sum, q| sum + q.hours_moved} %></li>
                            <li>Voliči podporují otázku: 
                                <%# questions.values.find_all {|sum| sum > 0} %></li>
                            <li>Otázka bez zájmu voličů: 
                                <%# questions.values.find_all {|sum| sum > 0} %></li>
                          </ul> 
                          </li>
                        <% else %>
                          <li><%= link_to '[+]', stats_path(:show_politicians => pol.id) %> <%= pol.firstname %> <%= pol.lastname %></li>
                        <% end %>
                     </ul>
                  </td>
                </tr>
              <% end %>
            <% end %>
<%#
 (číslo + zobrazení záhlaví otázky na
zeleném podkladu)
1. počet aktivních voličů
2. zastoupenost okresů
3. nejaktivnější (1) okres
4. počet přislíbených hodin celkem
5. počet odpracovaných hodin celkem
ix.
 (číslo + zobrazení záhlaví otázky na
červeném podkladu)
1. počet aktivních voličů
2. zastoupenost okresů
3. nejaktivnější (1) okres
4. počet přislíbených hodin celkem
5. počet odpracovaných hodin celkem%>
			<tr>
				<th>Počet otázek bez týmů</th>
				<td><%= @stats.questions_without_team_count %></td>
			</tr>

			<tr>
				<th>Nejaktivnější okres</th>				
				<% if !@stats.county_with_most_citizens.nil? %>
					<% county = @stats.county_with_most_citizens %>
					<td><%= county[:name] %> | <%= county[:citizens_count] %> voličů</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>

			<tr>
				<th>Odpracovaných hodin</th>
				<td><%= @stats.done_workhours_sum %></td>
			</tr>

			<tr>
				<th>Odchody z týmů</th>
				<td><%= @stats.count_team_exits %> hodin</td>
			</tr>			

			<tr>
				<th>Otázka s největším počtem odchodů</th>								
                <% question = @stats.question_with_highest_exit_rate %>
				<% if question %>
                    <td> 
                        <% if question.subject.subtype == 'Refinery::Politicians::Politician' %>
                            <%= question.subject.firstname %> <%= question.subject.lastname %>
                        <% else %>    
                            <%= question.subject.name %>
                        <% end %>     
                        |
                        <%= truncate(question.title, length: 30, separator: ' ') %>
                    </td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>

			<tr>
				<th>Počet publikovaných řešení</th>				
				<td> - </td>
			</tr>
		</tbody>
	</table>

	<hr>

	<table>		
		<tbody>
			<tr>
				<th>Stav fondu pro odměny nejaktivnějším voličům</th>
				<td><%= @stats.reward_fond_amount %> Kč</td>
			</tr>

			<tr>
				<th>Adepti na získání odměny z fondu</th>
				<% if !@stats.adepts_for_reward.nil? %>
					<% adepts = @stats.adepts_for_reward %>
					<td><%= adepts[:citizen].email %> | <%= adepts[:hours] %> hodin(a)</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>
		</tbody>
	</table>
