<section id="stats">

	<table>		
		<tbody>
			<tr>
				<th>Otázek celkem</th>
				<td><%= @stats.questions_count %></td>
			</tr>

			<tr>
				<th>Politiků celkem</th>
				<td><%= @stats.politicians_count %></td>
			</tr>

			<tr>
				<th>Voličů celkem</th>
				<td><%= @stats.citizens_count %></td>
			</tr>

			<tr>
				<th>Žen</th>
				<td><%= @stats.citizens_women_count %></td>
			</tr>

			<tr>
				<th>Mužů</th>
				<td><%= @stats.citizens_men_count %></td>
			</tr>

			<tr>
				<th>Průměrný věk voličů</th>
				<td><%= @stats.citizens_average_age %></td>
			</tr>

			<tr>
				<th>Přislíbených hodin</th>
				<td><%= @stats.promised_workhours_sum %></td>
			</tr>

			<tr>
				<th>% zde aktivních k počtu právopl. voličů (8 415 892 k 1.9. 2013)</th>
				<td><%= @stats.percent_of_citizens %> %</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<table>
		<tbody>
			<tr>
                <th>Počet týmů</th>
                <td><%= @stats.team_count %></td>
			</tr>

			<tr>
				<th>Počet otázek bez týmů</th>
				<td><%= @stats.questions_without_team_count %></td>
			</tr>

			<tr>
				<th>Nejaktivnější okres</th>				
				<% if !@stats.county_with_most_citizens.nil? %>
					<% county = @stats.county_with_most_citizens %>
					<td><%= county[:name] %> | <%= county[:citizens_count] %> voličů</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>

			<tr>
				<th>Odpracovaných hodin</th>
				<td><%= @stats.done_workhours_sum %></td>
			</tr>

			<tr>
				<th>Odchody z týmů</th>
				<td><%= @stats.count_team_exits %> hodin</td>
			</tr>			

			<tr>
				<th>Otázka s největším počtem odchodů</th>								
                <% question = @stats.question_with_highest_exit_rate %>
				<% if question %>
                    <td> 
                        <% if question.subject.subtype == 'Refinery::Politicians::Politician' %>
                            <%= question.subject.firstname %> <%= question.subject.lastname %>
                        <% else %>    
                            <%= question.subject.name %>
                        <% end %>     
                        |
                        <%= truncate(question.title, length: 30, separator: ' ') %>
                    </td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>

			<tr>
				<th>Počet publikovaných řešení</th>				
				<td> - </td>
			</tr>
		</tbody>
	</table>

    <% if @politics %>
         <%= link_to(tag('span', class: 'icon-minus-sign'), stats_path) %>
    <% else %>
         <%= link_to(tag('span', class: 'icon-plus-sign'), stats_path(:show_politicians => 't')) %>
    <% end %>
    <b>Statistiky jednotlivých politiků</b>
                    
    <% if @politics %>
        <% @politics.each do |pol| %>
        <tr>
            <td colspan="2">
            <ul>
                <% if params[:show_politicians] == pol.id.to_s %>
                    <li><%= pol.firstname %> <%= pol.lastname %> 
                    <ul id="politicians-tree">
                    <% citizens_questions = pol.subject.citizens_questions.active.to_a %>
                    <% questions = pol.questions.active.to_a %>

                    <li>Počet otázek kandidáta: <span class="result"><%= questions.size %></span></li>
                    <li>Počet aktivních týmů kandidáta/tky: <span class="result">
                        <%= citizens_questions.map {|q| q.question_id}.uniq.size %>
                        </span></li>
                    <li>Počet aktivních voličů celkem (všechny otázky dohromady): <span class="result">
                        <%= pol.subject.citizens.active.to_a.size %> <%# count does not work (used DISTINCT) %>
                        </span></li>
                    <li>Zastoupenost okresů (počet celkem): <span class="result">
                        <%= pol.subject.counties.active.to_a.size %> <%# count does not work (used DISTINCT) %>
                        </span></li>
                    <li>Počet přislíbených hodin celkem: <span class="result">
                        <%= citizens_questions.reduce(0) {|sum, q| sum + q.hours} %>
                        </span></li>
                    <li>Počet odpracovaných hodin celkem: <span class="result">
                        <%= citizens_questions.reduce(0) {|sum, q| sum + q.hours_done} %>
                        </span></li>
                    <li>Počet odchodů (převodů hodin) k jinému kandidátovi: <span class="result">
                        <%= citizens_questions.reduce(0) {|sum, q| sum + q.hours_moved} %>
                        </span></li>

                    <% questions.each do |question| %>
                        <% citizens = question.citizens.to_a %>
                        <% counties = citizens.group_by {|c| c.county_id} %>
                        <li>Otázka: <span class="<%= citizens.empty? ? 'inactive' : 'active' %>"><%= truncate(question.title, length: 50, separator: ' ') %></span></li>
                        <ul>
                            <li>Počet aktivních voličů: <span class="result"><%= citizens.size %></span></li>
                            <li>Zastoupenost okresů: <span class="result"><%= counties.size %></span></li>
                            <li>Nejaktivnější (1) okres: <span class="result">
                                <%= counties.empty? ? '-' : counties.values.sort_by {|a| a.size}.last.first.county.name %></span></li>
                            <li>Počet přislíbených hodin celkem: <span class="result">
                                <%= question.citizens_questions.sum(:hours) %></span></li>
                            <li>Počet odpracovaných hodin celkem: <span class="result">
                                <%= question.citizens_questions.sum(:hours_done) %></span></li>
                        </ul>
                        </li>
                    <% end %>
                    </ul> 
                    </li>
                <% else %>
                    <li><%= link_to tag('span', class: 'icon-plus-sign'), stats_path(:show_politicians => pol.id) %> 
                        <%= pol.firstname %> <%= pol.lastname %></li>
                <% end %>
                </ul>
            </td>
        </tr>
        <% end %>
    <% end %>

	<hr>

	<table>		
		<tbody>
			<tr>
				<th>Stav fondu pro odměny nejaktivnějším voličům</th>
				<td><%= @stats.reward_fond_amount %> Kč</td>
			</tr>

			<tr>
				<th>Adepti na získání odměny z fondu</th>
				<% if !@stats.adepts_for_reward.nil? %>
					<% adepts = @stats.adepts_for_reward %>
					<td><%= adepts[:citizen].email %> | <%= adepts[:hours] %> hodin(a)</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>
		</tbody>
	</table>
